.navicon {

    border-radius: 30px;
    width: 30px;
    border: 1px solid black;
}

.navbarStyle {

    border-bottom: 2px solid black;
    background: url('/gifs/ghostie.gif');
    background-position-y: 58%;
    background-size: 100% !important;
}